<section>
    <div class="containers">
        <div class="container">
            {{ title }}
            <form method="POST" action="/submit" enctype='multipart/form-data'>
                <div class="field">
                    <label class="label" for="name">Name</label>
                    <div class="control">
                        <input type="text" placeholder="name" name="name" class="input">
                    </div>
                    <label class="label" for="company">Company</label>
                    <div class="control">
                        <input type="text" placeholder="company" name="company" class="input">
                    </div>
                    <label class="label" for="csvText">CSV FILE</label>
                    <div class="control">
	                    <textarea class="textarea input" placeholder="csv" name="csvText" rows="10"></textarea>
                    </div>

                    <label class="label" for="csvFile">Upload</label>
		            <div>
		                <input accept="text/cvs"  name="csvFile" type="file">
		            </div>

                    <div class="control">
                        <button class="is-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
